@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fbg{
  font-family: "Bricolage Grotesque";
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
      "wdth" 100;
  }
body{
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

@font-face {
  font-family: 'degular-semibold';
  src: url('https://cdn.cmsfly.com/635bcad9b8a74e0091632998/degular-semibold-m1eBlC.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}